* {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
nav {
    text-align: left;
    background-color: wheat;
}
nav ul {
    list-style: none;
}
nav ul li  {
    display: inline-block;
    padding-left: 16px;
    vertical-align: middle;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    font-weight: bolder;     
    text-decoration: overline;
    color: green;
}
nav ul li input {
    width: 200px;
    padding: 3px;
    border-radius: 8px;

}